<div class="cardContainer">
  <div class="imageContainer">
    <img [src]="artist.image" alt="" />
  </div>
  <div class="cardContent">
    <div class="cardTitle">
      {{ artist.name }}
    </div>
    <div class="artistFollowers">{{ artist.followers }} followers</div>
  </div>
  <div class="rating">
    <div *ngFor="let i of ' '.repeat(artist.popularity).split('')">
      <i class="material-icons md-gray">star</i>
    </div>
    <div
      *ngFor="let i of ' '.repeat(maxStarsNum - artist.popularity).split('')"
    >
      <i class="material-icons">star_border</i>
    </div>
  </div>
</div>
