.browsingAlbumsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 5%;
}
.headerContainer {
  display: flex;
  align-items: flex-start;
  height: 100px;
  padding-left: 2%;
}
.artistName {
  font-size: 30px;
  padding: 8% 0 2% 0;
  color: #333333;
}
.albumCaption {
  font-size: 20px;
  color: gray;
}

.listingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.albumContainer {
  width: 250px;
  height: 350px;
  padding: 2%;
}
