.app-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  flex: 1;
}

.navbar-container {
  height: 80px;
  border: 1px solid gray;
}
mat-toolbar {
  height: 100%;
  background-color: #c7c7c7;
}
.logoutContainer {
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
  content: none;
}
.logoutButton {
  display: contents;
  font-size: 14px;
  font-weight: bold;
}

.body-container {
  flex: 1;
}
